# MacOS
.DS_Store

# Editor
.vscode/

# Rust
/target

# Documents
doc/*.pdf

# Binary files
tests/device-tree-bin/
tests/initramfs-bin/
tests/linux-bin/
tests/riscv-tests-bin/

# initramfs build artifacts
tests/initramfs/_build/
tests/initramfs/busybox
tests/initramfs/init
tests/opensbi-bin/
